@using SchoolTemplate.Database;
@{
  ViewData["Title"] = "Home Page";
}

  <h1>Welcome to the Penguin Cove!</h1>

  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula augue, feugiat sit amet gravida id, fringilla vel tortor. Vestibulum sagittis tortor elit, a efficitur ipsum molestie et. Vivamus laoreet enim in ex porttitor, ut scelerisque lectus sodales. Sed vel lacus a metus vulputate congue ut eu tellus. Nunc vel molestie sapien. Sed non magna pretium, scelerisque mi at, luctus tellus. Nulla arcu lorem, ultricies id neque sit amet, sodales consequat magna. Aenean et velit erat. Pellentesque erat dolor, viverra sed eros nec, semper egestas sapien. Cras et sodales turpis. Curabitur hendrerit sagittis lectus, vel fermentum nunc aliquet at. Aliquam hendrerit maximus condimentum. Aenean quis interdum massa. Cras vulputate pretium erat nec hendrerit. Quisque sit amet arcu vestibulum, luctus turpis sed, pretium nibh. Nullam eu libero id nibh maximus suscipit sit amet in mi.
      <br /><br />
      Quisque ligula justo, vehicula et diam sed, varius gravida augue. Sed in mi in quam placerat egestas sit amet vitae diam. Sed purus est, volutpat a placerat sed, lobortis eget erat. Mauris fermentum consequat nulla, sed porta augue tincidunt eu. Sed bibendum enim in lectus egestas dictum. Suspendisse lacinia enim massa, vitae eleifend velit viverra nec. Praesent consequat urna eget blandit sollicitudin. Proin pharetra venenatis augue, a pellentesque nunc posuere et. Suspendisse et sem et ligula porta lacinia. Praesent enim turpis, iaculis at urna vel, facilisis consectetur lectus. Morbi eleifend scelerisque maximus. Sed vestibulum eleifend enim a interdum. Vestibulum quis maximus metus, et tristique libero. Sed a semper odio. Maecenas in lectus lectus.
      <br /><br />
      Vestibulum cursus luctus ante sed pretium. Aliquam congue dapibus arcu quis ultrices. Donec blandit, nulla id ullamcorper porttitor, ex arcu ornare sapien, ac viverra sem mi venenatis ligula. Aliquam et nibh nec libero vehicula tincidunt. Nam magna nibh, maximus at nunc eget, cursus dignissim purus. Pellentesque eu vestibulum eros. Donec ante elit, dapibus vitae ex non, posuere varius nibh. Maecenas pellentesque maximus turpis, eu eleifend est sollicitudin eu. Nulla vulputate augue id nibh euismod, at cursus ligula rutrum. Etiam gravida sit amet dolor ac imperdiet. Aliquam orci sem, tempor eget elit vel, tempus feugiat mauris. Praesent vitae nibh convallis, semper neque nec, convallis purus. Cras feugiat massa eget massa egestas cursus. Nullam blandit, risus non porta euismod, tellus augue sodales felis, eget aliquam tortor nisi nec purus.
      <br /><br />
      Maecenas posuere ex sapien, in dictum augue pretium ut. Nam in tempus justo. Vestibulum sodales gravida dictum. Mauris sit amet fringilla velit. Nulla ac molestie ligula. Quisque ut velit hendrerit, sollicitudin sapien sed, lacinia lacus. Praesent tristique augue sit amet lorem pretium tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed velit neque, commodo id porta ac, accumsan quis nibh. Donec urna arcu, ornare viverra nulla sed, dignissim pretium lorem. Fusce eu scelerisque felis. Cras eu magna sed ex placerat mattis ac consectetur nisi.
      <br /><br />
      Vivamus eget dui justo. In eget congue odio. Aenean quis commodo nibh. Vestibulum id consectetur turpis. Aliquam rutrum nulla quis nisl tincidunt egestas. In sed condimentum sem. Donec a nisi imperdiet, auctor felis at, consectetur turpis.
  </p>