/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('barStock.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.header {
    text-align: center;
    font-family: 'Crimson Text', Times, serif;
    color: white;
}


.h1 {
    font-family: 'Jacques Francois Shadow', cursive;
    color: white;
}

.ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #6699ff;
}


h1 {
    font-family: 'Crimson Text', cursive;
    color: white;
}

nav {
    background-color: #32526b;
    font-family: 'Crimson Text';
    display: flex;
    flex-direction: row;
    min-width: 4%;
    margin: 0 -1% 0 -1%;
    padding: 0 5% 0 5%;
}

    nav > div {
        color: #ee1960;
        margin: 0 7% 0 7%;
        padding: 2% 0.5% 2% 0.5%;
        font-size: 140%;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

a {
    opacity: 1;
    color: aliceblue;
    text-decoration: none;
    transition: all 300ms ease;
}

    a:hover {
        opacity: 0.6;
        transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -webkit-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
    }