<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="~/ijsberg_1045-685.jpg">

    <style>
    </style>
</head>
<body>
    <div class="header">
        <h1>PENGUIN COVE</h1>
    </div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#programma">Menu</a></li>
        <li><a href="#bezoekersinformatie">Contact</a></li>
        <li><a href="#zakelijk">Business</a></li>
    </ul>


    @RenderBody()
</body>
</html>
