<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    
    <style>
        h1 {
            font-family: 'Spartan', sans-serif;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #6699ff;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                padding: 8px;
            }
    </style>
</head>
<body>
    <div class="header">
        <h1>XVII</h1>
    </div>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#programma">Programma</a></li>
        <li><a href="#bezoekersinformatie">Bezoekersinformatie</a></li>
        <li><a href="#zakelijk">Zakelijk</a></li>
    </ul>


    @RenderBody()
</body>
</html>
