<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <div class="header">
        <h1>XVII</h1>
    </div>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #dddddd;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                padding: 8px;
            }
    </style>
</head>
  <body>
  <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#programma">Programma</a></li>
      <li><a href="#bezoekersinformatie">Bezoekersinformatie</a></li>
      <li><a href="#zakelijk">Zakelijk</a></li>
  </ul>

      
      @RenderBody()
  </body>
</html>
